{
  "env": {
    "server": {
      "presets": [
        "@babel/env",
        "@babel/react",
        "@babel/preset-flow"
      ],
      "plugins": [
        "@babel/plugin-transform-arrow-functions",
        "@babel/plugin-transform-runtime",
        "dynamic-import-node",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-throw-expressions",
        "@babel/plugin-syntax-dynamic-import",
        "@loadable/babel-plugin"
      ]
    },
    "universal": {
      "ignore": [
        "**/*.test.js"
      ],
      "presets": [
        "@babel/env",
        "@babel/react"
      ],
      "plugins": [
        "@babel/plugin-transform-arrow-functions",
        "@babel/plugin-transform-runtime",
        "dynamic-import-node",
        "@babel/plugin-transform-flow-strip-types",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-syntax-dynamic-import",
        "@loadable/babel-plugin"
      ]
    },
    "test": {
      "presets": [
        "@babel/env",
        "@babel/react"
      ],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-flow-strip-types",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-throw-expressions"
      ]
    }
  }
}

